:root {
    --primary: #003aba;
    --on-primary: white;
    --secondary: #8F999F;
    --on-secondary: black;
    --dark: #333;
    --on-dark: white;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
--sidebar-animation-duration: 0.25s;

    --padding-normal: 8px;

    --motion-easing-standard: cubic-bezier(0.2, 0.0, 0, 1.0);
}

@media (prefers-reduced-motion) {
    :root {
        --sidebar-animation-duration: 0s;
    }
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
.text-centered {
    text-align: center;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

body {
    height: 100dvh; /* 100% der (dynamischen) Viewport Höhe */
    display: grid;
    overflow-x: hidden;

    /* 
     zwei Zeilen.
     Zeile 1: auto -> Der Inhalt entscheidet die Höhe.
     Zeile 2: 1fr  -> 1 Anteil (FRaction) des restlichen Platzes. */
    grid-template:
            "header header" auto
            /* auto -> Der Inhalt entscheidet die Höhe. */
            "map    detail-pane" 1fr
            /* 1fr  -> 1 Anteil (FRaction) des restlichen Platzes. */
            / 1fr 0px;
    
        transition:
            grid-template-columns var(--sidebar-animation-duration) var(--motion-easing-standard);
    }
    
    body:has(.offcanvas.show) {
        grid-template-columns: 1fr min(100%, 400px);
}

#map {
    grid-area: map;
    }
    
    #detailPane {
        position: relative;
        /* Erstellung eines neuen Positionierungskontextes, damit die Positionierung der Kinder relativ zum DetailPane ist*/
        grid-area: detail-pane;
}

.hyphens {
    hyphens: auto;
}


.button {
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 8px 16px;
    border-radius: 999em;
    font-weight: bold;
    text-decoration: none;
}

.offcanvas {
    /* visibility is für accessibility */
    visibility: hidden;
    z-index: 9999;
    width: 400px;
    background-color: #fefefe;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.1s;
}

.offcanvas.show {
    visibility: visible;
}
.offcanvas-header img {
    max-height: 1.2em;
}

.navbar {
    grid-area: header;
    display: flex;
    min-height: 80px;
    padding: 8px;
    
    color-scheme: dark only;
    background: var(--dark);
    color: var(--on-dark);
    
    flex-wrap: wrap;
    align-items: center;
    column-gap: 8px;

    & img {
        max-height:60px;
        margin: 4px;
    }
    
    & a {
        color: var(--on-dark);
        text-decoration: none; 
        padding: 8px;
        min-width: 48px;
        min-height: 48px;
        align-content: center;

        &:hover {
            background-color: var(--on-dark);
            color: var(--dark);
            text-decoration: revert;
        }
    }
}

.map-offcanvas {
    overflow: hidden;
}


@media (width < 600px) {
    .navbar {
        justify-content: center;
    }
}

@media (600px < width) {
    .navbar {
        justify-content: start;
    }
}

.closebtn:hover {
    color: #666;
}

.closebtn {
    position: absolute;
    color: #fff;
    transition: 0.3s;
}

.offcanvas-title h2 {
    font-size: 1em;
    text-align: center;
}

.offcanvas-title .heime{
    font-size: x-large;
    text-align: center;
}

.offcanvas-title > div .parent {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

.offcanvas address {
    font-size: 1em;
}

.offcanvas-body {
    --_spacing: 8px;
    
        display: flex;
        flex-direction: column;
    
        padding: var(--_spacing);
        gap: var(--_spacing);
}

.offcanvas-title {
    min-height: 48px;
        padding: var(--padding-normal);
    background-color: var(--dark);
    color: var(--on-dark);
}

.offcanvas-body .heimlogo {
    height: 100%;
    max-height: 100px;
    width: auto
}


#branding {
    display: flex;
    gap: 2rem;
    width: auto;
    align-items: center;
}

.group {
    border: solid 1px var(--secondary);
    border-radius: 12px;
        overflow: hidden;
}

.group-header {
   
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--on-secondary);
    background: var(--secondary);
}

.group-header h3 {
    font-size: x-large;
    
}

.group-header > .parent {
    font-size: large;
  

}

.group-description {
    margin-top: 0.5em;
    hyphens: auto;
    font-size: small;
    padding: 0.5em;
    text-align: justify;
}

.group-contact {
   
    margin-top: 0.5em;
    padding: 0.5em;
}


.leaflet-control-search .search-tooltip {
max-height: 60vh!important;
}

.leaflet-control-attribution {
    padding: 5px!important;
}