:root {
    --primary: #003aba;
    --on-primary: white;
    --secondary: #8F999F;
    --on-secondary: black;
    --dark: #333;
    --on-dark: white;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}
.text-centered {
    text-align: center;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

#map {
    width: 100vw;
    height: calc(100vh - 60px - 1.6em);
    transition: 0.1s;
}

.hyphens {
    hyphens: auto;
}


.button {
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 8px 16px;
    border-radius: 999em;
    font-weight: bold;
    text-decoration: none;
}

.offcanvas-show {
    visibility: visible !important;
}

.offcanvas {
    visibility: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color: #fefefe;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.1s;
}

.offcanvas-header img {
    max-height: 1.2em;
}

.navbar {
    width: 100%;
    background: var(--dark);
    color: var(--on-dark);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    gap:1em;
    
}

.navbar a:link, .navbar a:visited{
    color: var(--on-dark);  
    text-decoration: none;  
}

.navbar ul {
    gap: 1em;
    display: flex;
    list-style: none;
}
.navbar ul li {
   
    display: inline;

}

.navbar ul li a:link {
    padding: 0.5em;

}
.navbar ul li a:hover {
   background-color: var(--on-dark);
   color: var(--dark);

}

@media (max-width: 767.98px) {

    .offcanvas {
        width: 100vw;
        height: 75vh;

    }

    .map-offcanvas {
        height: 0vh !important;

    }

    .navbar {
        justify-content:center;
    }

    .navbar ul {
        margin-bottom: 0.5em;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .offcanvas {
        width: 50vw;
        height: 100vh;

    }

    .map-offcanvas {
        width: 50vw !important;
        margin-right: 50vw !important;
    }

       .navbar {
        justify-content: start;
        }


}

@media (min-width: 1200px) {
    .navbar {
        justify-content: start;
        }
    .offcanvas {
        width: 25vw;
        height: 100vh;

    }

    .map-offcanvas {
        width: 75vw !important;
        margin-right: 25vw !important;
    }
}

.offcanvas .closebtn:hover {
    color: #666;
}

.offcanvas .closebtn {
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    text-align: right;
}

.offcanvas-title h2 {
    font-size: 1em;
    text-align: center;
}

.offcanvas-title .heime{
    font-size: x-large;
    text-align: center;
}

.offcanvas-title > div .parent {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}

.offcanvas address {
    font-size: 1em;
}

.offcanvas-body {
    padding: 15px;
}

.offcanvas-title {
    padding: 15px;
    background-color: var(--dark);
    color: var(--on-dark);
}


.offcanvas-header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: var(--primary);
    padding: 15px;
    color: var(--on-primary);
}

.offcanvas-header img {
    filter: invert(100);
    margin: 15px;
}

.offcanvas-body .heimlogo {
    height: 100%;
    max-height: 100px;
    width: auto
}


#branding {
    height: 100%;
    display: flex;
    gap: 2rem;
    width: auto;
    align-items: center;


}

.navbar img {
   max-height:60px;
   margin:0.2em;
}

.offcanvas-body > div  {
    margin-bottom: 1em;
}

.group {
    margin-bottom: 2em;
    border: solid 1px var(--secondary);
 
}

.group-header {
   
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: var(--on-secondary);
    background: var(--secondary);
}

.group-header h3 {
    font-size: x-large;
    
}

.group-header > .parent {
    font-size: large;
  

}

.group-description {
    margin-top: 0.5em;
    hyphens: auto;
    font-size: small;
    padding: 0.5em;
    text-align: justify;
}

.group-contact {
   
    margin-top: 0.5em;
    padding: 0.5em;
}